<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EAT THE BURGER</title>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Roboto" rel="stylesheet">
    {{!-- Bootstrap CDN --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {{!-- Custom CSS File --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>

<body>

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <header>
                    <h1>Eat The Burger</h1>
                    <img src="/assets/img/burger_exploded.png">
                </header>
            </div>
        </div>
    </div>

        <br><br>
        {{{ body }}}
        <br><br>

    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <footer>
                    <p class="text-center">Copyright rchlblns &copy; 2018</p>
                </footer>
            </div>
        </div>
    </div>
        
</body>

</html>