<div class="container">
	{{!-- Burger Listings --}}
	<div class="row">
		{{!-- Burgers To Eat --}}
		<div class="col-sm-6 p-5">
			<h2 class="text-center">Ready To Eat</h2>
			<ul>
				{{#each burgers}}
				{{#unless this.devoured}}
				<li>
					{{this.id}}. {{this.burger_name}}
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>

		{{!-- Eaten Burgers --}}
		<div class="col-sm-6 p-5">
			<h2 class="text-center">Already Eaten</h2>
			<ul>
				{{#each burgers}}
				{{#if this.devoured}}
				<li>
					{{this.id}}. {{this.burger_name}}
				</li>
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>

	<br><br>

	{{!-- Form for adding new burger --}}
	<div class="row text-center">
		<div class="col-sm-4 mx-auto">
			<form action="burger/create" method="POST">
				<h2>Order A New Burger</h2>
				<div class="form-group">
					<label for="new_burger">What would you like to eat?</label>
					<textarea class="form-control" id="newBurger" rows="1"></textarea>
				</div>
				<button type="button" class="btn btn-outline-dark" id="submitBtn">Place Order</button>
			</form>
		</div>
	</div>
</div>