<div class="container">
	
	{{!-- Page Header --}}
	<div class="row">
		<div class="center col-sm-12">
			<h1>Eat Da Burger!</h1>
		</div>
	</div>

	{{!-- Burger Listings --}}
	<div class="row">
		<div class="col-sm-6">
			<h2>Available Burgers</h2>
			<ul>
				{{#each burgers}} 
					{{#unless this.devoured}}
				<li>
					{{this.id}} {{this.burger_name}}
				</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>

		<div class="col-sm-6">
			<h2>Burgers That Have Been Eaten</h2>
			<ul>
				{{#each burgers}} {{#if this.devoured}}
		
				<li>
					{{this.id}}{{this.burger_name}}
				</li>
				{{/each}}{{/unless}}
			</ul>
		</div>
	</div>

	{{!-- Form for adding new burger --}}

	<div class="row">
		<h2>Add A Burger!</h2>
		<div class="center col-sm-12">
			<div class="form-group">
				<label for="new_burger">Add a burger that you'd like to eat</label>
				<textarea class="form-control" id="newBurger" rows="2"></textarea>
			</div>
		</div>

		<button type="button" class="btn btn-outline-dark">Add</button>
	</div>
</div>
