<div class="input-group">
    <li class="form-control text-left">
        {{burger_name}}
        {{#unless devoured}}
            <button class="devour-burger btn-success align-right" data-id="{{id}}" data-newdevour="{{this.devoured}}">Eat it!</button>
        {{/unless}}
    </li>
</div>